@import "../../variables.scss";
.about__wrapper {
  position: relative;
  width: 100%;
  height: 725px;
}

.about__wrapper::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: -50px;
  zoom: 1.01;
  height: 780px;
  background-image: url("../../assets/img/about_background.png");
  width: 100%;
}

.about__description {
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: unset;
  width: 100%;
  height: 315px;
  padding: 0 20px;
  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 160px;
  }
}

.about__header {
  font-size: 61.74px;
  line-height: 24px;
  font-family: $font-type-bebas;
  font-weight: bold;
  margin-bottom: 30px;
  color: $title-purple;
}

.about__content {
  font-size: 14px;
  line-height: 16px;
  font-family: "Montserrat";
  font-weight: normal;
}

.about_product_img {
  position: absolute;
  right: 40px;
  bottom: -40px;
  width: 461px;
  // width: 488px / 1580px * 100%;
}

@media screen and (max-width: 932px) {
  .about__header {
    font-size: 5vw;
  }
  .about_product_img {
    width: 45%;
    bottom: -20px;
  }
  .about__description__container {
    padding-top: 20%;
  }
}
